.Grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #4c4f69;
    border-left: 1px solid #4c4f69;
}

.Grid-row {
    display: flex;
}

.Grid-cell {
    background: #eff1f588;
    border-bottom: 1px solid #4c4f69;
    border-right: 1px solid #4c4f69;
}